DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db
DB_PORT=5432
DB_NAME=app_db

SECRET_KEY=change-me
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60
REFRESH_TOKEN_EXPIRE_DAYS=7

BACKEND_HOST=0.0.0.0
BACKEND_PORT=8000

# Default admin settings
DEFAULT_ADMIN_LOGIN=admin
DEFAULT_ADMIN_PASSWORD=admin
DEFAULT_ADMIN_FULL_NAME=Admin Admin Admin
DEFAULT_ADMIN_EMAIL=admin@admin.ru
DEFAULT_ADMIN_ROLE=admin

# Test settings
TEST_DB_URL=sqlite:///:memory:
